DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

SQLITE_PATH=/app/pokestock.sqlite3
REDIS_URL=redis://redis:6379/0
CELERY_TASK_ALWAYS_EAGER=0
OCR_SERVICE_URL=http://ocr:8080
POKEMONTCG_API_KEY=c2f82c67-450a-44a7-9c3c-3b93af68baea

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-password
